
.create-form-card {
  margin-top: 50px;
}

.create-card {
  border: 2px solid #C2185B;
  padding: 50px 50px 50px 50px;
}

.header-h2 {
  margin-left: 40%;
  font-size: 25px;
}

.mat-form-field-title {
  width: 600px;
  margin-left: 17%;
  font-size: 20px;
  margin-bottom: 20px;
}

.mat-form-field-author {
  width: 600px;
  margin-left: 17%;
  font-size: 20px;
  margin-bottom: 20px;
}

.form-text-field {
  width: 600px;
  height: 200px;
  margin-left: 17%;
  font-size: 20px;
  margin-bottom: 20px;
}

.create-btn {
  margin-top: 150px;
  margin-left: 17%;
  font-size: 20px;
  padding: 5px 25px 5px 25px;
}
