.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}
.post-card {
  border: 0.5px solid #cccccc;
}

mat-card-content {
  margin-left: 6px;
}
