.login-form-card {
  margin-top: 50px;
}

.login-card {
  border: 2px solid #C2185B;
  padding: 50px 50px 50px 50px;
}

.header-h2 {
  margin-left: 40%;
  font-size: 25px;
}

.mat-form-field-email {
  width: 600px;
  margin-left: 17%;
  font-size: 20px;
  margin-bottom: 20px;
}

.mat-form-field-password {
  width: 600px;
  margin-left: 17%;
  font-size: 20px;
  margin-bottom: 20px;
}

.signin-btn {
  margin-left: 17%;
  font-size: 20px;
  padding: 5px 25px 5px 25px;
}

.mat-dialog-alert-danger mat-card {
  margin-top: 40px;
  border: 3px solid #F44336;
  padding: 20px 20px 20px 20px;
}

.mat-dialog-alert-danger mat-card h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration-line: underline;
}

.mat-dialog-alert-info mat-card {
  margin-top: 40px;
  border: 3px solid yellow;
  padding: 20px 20px 20px 20px;
}

.mat-dialog-alert-info mat-card h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  text-decoration-line: underline;
}

.about-btn {
  position: fixed;
  left: 95%;
  top: 84%;
}

.blog-btn {
  position: fixed;
  left: 95%;
  top: 92%;
}
